


@bg-blue:#004a80;
@shapebg:#ffffff;
@white:#ffffff;


@defaultRadius:30px;
@defaultShapesWidth:200px;
@borderSize:@defaultShapesWidth * 0.1;


@defaultShapeColor:@shapebg;
@borderColor:@defaultShapeColor - #222;
//@lightBlue: #ddf;
@lightBlue: #696969;


.RoundedShape(@radius:@defaultRadius){
    -webkit-border-radius:@radius;
       -moz-border-radius:@radius;
            border-radius:@radius;  
}
 
.RoundedSquare(@radius:@defaultRadius){
    .RoundedShape(@radius);

}

a {
	text-decoration:none;
	color:#707070;

}
a:hover,
	a.selected {
		color: #ffcc00;
	}
body{	

	background-image:url('/img/bg.png');
	color:#707070;
	
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	 font-family: 'Patrick Hand SC', cursive;	
	/* font-family: 'Gabriela', serif;
	font-family: 'Sintony', sans-serif;
	font-family: 'Fresca', sans-serif; */

}

p {
	padding: 10px;
	text-align: center;
}

.container{
	width:95%;
	padding:auto;
	margin:auto;
	background:white;	
}

.centerUp{
	padding:auto;
	margin:auto;
}

.shapesContainer{
	position: relative;
	width:80%;
	padding:auto;
	margin:auto;
	background:white;	
	text-align:center;
}

header{
	position: relative;
	padding: 10px;
	margin: 10px;
}

footer{
	
	padding: 10px;
	margin: 10px;
}

article{
	
	padding: 10px;
	margin: 10px;
}

p{
	font-size:20;
	padding: 10px;
}

div h1{
	font-size: 40px;
	font-weight:bold;
	padding: 10px;
	text-align: center;

}

div h2{
	font-size: 30px;
	font-style: italic;

	padding: 10px;
	text-align: center;

}

#skills {
	width:50%;
	padding:auto;
	margin:auto;
	background:white;	
	border:@borderSize solid @borderColor;

}

#contact {
	
	width:50%;
	padding:auto;
	margin:auto;
	background:white;	
	border:@borderSize solid @borderColor;
}

#me {
	
	width:80%;
	padding:auto;
	margin:auto;
	background:white;	
	border:@borderSize solid @borderColor;
}

#portfolio {
	
	width:80%;
	padding:auto;
	margin:auto;
	background:white;	
	border:@borderSize solid @borderColor;
}
.close{
	background-image:url('/img/icon/glyphicons_197_remove.png');
	background-repeat:no-repeat;
	float: right;
	padding: 10px;
	margin: 10px;
	width: 15px;
	height: 15px;
}


#rectangle {
   width: 140px; 
   height: 10px;
   background: #803826 ;
}



#NavBar li {
	
	display:inline;
	padding: 30px;
	text-align:center;
}

#headerNav {
	position: relative;
	text-align:center;
	width:80%;
	padding:auto;
	margin:auto;
}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;

}

div	.shape{

	transition-property: background color borde;
	transition-duration: 1s;
	cursor: pointer;
	
	-moz-transition-property: background color border; /* Firefox 4 */
	-moz-transition-duration: 1s; /* Firefox 4 */
	-webkit-transition-property: background color borde; /* Safari and Chrome */
	-webkit-transition-duration: 1s; /* Safari and Chrome */
	-o-transition-property: background color borde; /* Opera */
	-o-transition-duration: 1s; /* Opera */

	display:inline-block;
    width:200px;
    height:200px;
    .RoundedSquare;
    background:@lightBlue;
    margin:20px;
    border:@borderSize solid @borderColor;
    color:@white;

    .drop-shadow {
	   position:relative;
	   width:90%;
	}

    &:hover{
		transition-duration: 1s;
        background:@shapebg;
        color:#707070;
        border:@borderSize solid darken(@borderColor,10);
       
    }
}